.main {
  margin-top: 30px;

  &__input {
    color: #000;
    width: 100%;
    background-color: #fff;
    border: none;
    border-radius: 15px;
    padding-left: 10px;
    height: 25px;
    outline: none;
  }

  &__text,
  &__text-empty,
  &__item {
    color: #f5f5dc;
  }

  &__text,
  &__list,
  &__text-empty {
    margin-top: 25px;
  }

  &__list {
    list-style: none;
  }

  &__item {
    margin-bottom: 5px;
    word-break: break-word;

    &:last-child {
      margin-bottom: 0px;
    }
  }
}

.loader {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .main {
    display: flex;

    &__input-block {
      width: 20%;
    }
  }

  .lists {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 0px;
    margin-left: 50px;
  }
}
